<!-- Navigation -->
<nav class="navbar">
    <div class="container">
        <div class="navbar-container">
            <a href="#home" class="navbar-brand">Portfolio</a>
            <ul class="navbar-nav">
                <li><a href="#home" class="navbar-link">Home</a></li>
                <li><a href="#about" class="navbar-link">About</a></li>
                <li><a href="#projects" class="navbar-link">Projects</a></li>
                <li><a href="#code" class="navbar-link">Code</a></li>
                <li><a href="#contact" class="navbar-link">Contact</a></li>
            </ul>
            <button class="navbar-toggle" id="mobile-menu-button">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </div>
    <!-- Mobile Navigation -->
    <div class="navbar-mobile" id="mobile-menu">
        <a href="#home" class="navbar-link">Home</a>
        <a href="#about" class="navbar-link">About</a>
        <a href="#projects" class="navbar-link">Projects</a>
        <a href="#code" class="navbar-link">Code</a>
        <a href="#contact" class="navbar-link">Contact</a>
    </div>
</nav>
